<section id="development" class="strategic-process">
    <div class="strategic-process__top">
        @@include('../title-underline/_title.html',
        {"Yellow": "Strategic","Weight":"Process"})
        <div class="strategic-process-text text-inner">
           <p class="text-inner__first">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis molestie dignissim. Nulla pellentesque et nisi et euismod. Pellentesque quis tristique magna.</p> 
           <p class="text-inner__second">Maecenas est risus, tristique volutpat sagittis vel, feugiat consectetur diam. Suspendisse justo sem, molestie tincidunt rhoncus vel, molestie ut ligula. Mauris vitae ullamcorper odio. 
               Mauris id enim gravida, tempor velit non, vehicula lacus. Sed rutrum tempus urna, sed aliquam lectus egestas eu. Maecenas est risus, tristique volutpat sagittis vel, 
               feugiat consectetur diam. Suspendisse justo sem, molestie tincidunt rhoncus vel, molestie ut ligula. Mauris vitae ullamcorper odio. Mauris id enim gravida, 
               tempor velit non, vehicula lacus. Sed rutrum tempus urna, sed aliquam lectus egestas eu. Maecenas est risus, tristique volutpat sagittis vel, feugiat consectetur diam. Suspendisse justo sem, 
               molestie tincidunt rhoncus vel, molestie ut ligula. Mauris vitae ullamcorper odio. Mauris id enim gravida, tempor velit non, vehicula lacus. Sed rutrum tempus urna, sed aliquam lectus egestas eu. 
               Maecenas est risus, tristique volutpat sagittis vel, feugiat consectetur diam. Suspendisse justo sem, molestie tincidunt rhoncus vel, molestie ut ligula. Mauris vitae ullamcorper odio. 
               Mauris id enim gravida, tempor velit non, vehicula lacus. Sed rutrum tempus urna, sed aliquam lectus egestas eu.</p>
        </div>
    </div>
    <div class="strategic-process-content">
        <div class="strategic-process-content__item strategic-process-content__item--first">
            <img src="../../img/Strategic-process/Layer 22.png" alt="">
        </div>
        <div class="strategic-process-content__item strategic-process-content__item--second strategic-process-content__text-our-process">
            <span>Our</span><span>Process</span>
            <div class="text-inner">
                <p class="text-inner__first">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis molestie dignissim. Nulla pellentesque et nisi et euismod. Pellentesque quis tristique magna.</p>
                <p class="text-inner__second">Maecenas est risus, tristique volutpat sagittis vel, feugiat consectetur diam. <br> Suspendisse justo sem, molestie tincidunt rhoncus vel, molestie ut ligula. Mauris vitae ullamcorper odio. Mauris id enim gravida, tempor velit non, vehicula lacus. Sed rutrum tempus urna, sed aliquam lectus egestas eu</p>
            </div>
        </div>    
        <div class="strategic-process-content__item strategic-process-content__item--third strategic-process-content__text">
            <span class="title-method">Method</span>
            <div class="text-inner">
                <p class="text-inner__first">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis molestie dignissim. Nulla pellentesque et nisi et euismod. Pellentesque quis tristique magna.</p>
                <p class="text-inner__second">Maecenas est risus, tristique volutpat sagittis vel, feugiat consectetur diam. Suspendisse justo sem, molestie tincidunt</p>
            </div>
        </div>
        <div class="strategic-process-content__item strategic-process-content__item--four"> <img src="../../img/Strategic-process/Layer 23.png" alt=""></div>
        <div class="strategic-process-content__item strategic-process-content__item--five"><img src="../../img/Strategic-process/Layer 24.png" alt=""></div>
        <div class="strategic-process-content__item strategic-process-content__item--six strategic-process-content__text">
            <span class="title-outcome">Outcome</span>
            <div class="text-inner">
                <p class="text-inner__first">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis molestie dignissim. Nulla pellentesque et nisi et euismod. Pellentesque quis tristique magna.</p>
                <p class="text-inner__second">Maecenas est risus, tristique volutpat sagittis vel, feugiat consectetur diam. Suspendisse justo sem, molestie tincidunt</p>
            </div>
        </div>
    </div>
</section>