<section class="main">
    <div class="main-sidebar">
        <div class="main-sidebar__title">
            Sublime
        </div>
        <div class="main-sidebar__burger">
            <span></span>
        </div>
        <nav class="main-sidebar-menu">
            <ul class="main-sidebar-menu__list">
                <a href="#head">
                    <li class="main-sidebar-menu__link">HOME</li>
                </a>
                <a href="#about">
                    <li class="main-sidebar-menu__link">ABOUT SUBLIME</li>
                </a>
                <a href="#works">
                    <li class="main-sidebar-menu__link">OUR WORKS</li>
                </a>
                <a href="#services">
                    <li class="main-sidebar-menu__link">SERVICES</li>
                </a>
                <a href="#team">
                    <li class="main-sidebar-menu__link">TEAM</li>
                </a>
                <a href="#testimonials">
                    <li class="main-sidebar-menu__link">TESTIMONIALS</li>
                </a>
                <a href="#blog">
                    <li class="main-sidebar-menu__link">BLOG</li>
                </a>
                <a href="#contacts">
                    <li class="main-sidebar-menu__link">CLIENTS</li>
                </a>
                <a href="#contacts">
                    <li class="main-sidebar-menu__link" >CONTACT US</li>
                </a>
            </ul>
        </nav>
        <div class="main-sidebar-imgs">
            <div class="main-sidebar-imgs__link">
                <a href="https://ru-ru.facebook.com/" target="_blank">
                    <img src="../../img/main/Layer 51 copy.png" alt="https://ru-ru.facebook.com/">
                </a>
            </div>
            <div class="main-sidebar-imgs__link">
                <a href="https://twitter.com/" target="_blank">
                    <img src="../../img/main/Layer 49 copy.png" alt="https://twitter.com/">
                </a>
            </div>
            <div class="main-sidebar-imgs__link">
                <a href="https://ru.linkedin.com/" target="_blank">
                    <img src="../../img/main/Layer 50 copy.png" alt="https://ru.linkedin.com/">
                </a>
            </div>
        </div>
    </div>
    <div class="main-content">
        <img src="../../img/main/Layer 47.png" alt="Developer">
        <div class="main-content__title">We create <br>  Awesome Games</div>
    </div>   
</section>