<div class="parallax-joker">
    <div class="parallax-window" data-parallax="scroll" data-image-src="../../img/services/Layer 26.png">
        <section  id="services" class="services">
            <div class="services-top">
                @@include('../title-underline/_title.html',
                {"Yellow": "Services","Weight":"Provided",
            "Services":"White", "Provide":"Line"})
            </div>
            <div class="serveces-content">
               <div class="services-content-items">
                   <div class="services-content-item">
                    <div class="services-content-item__title">
                        <span>App</span>
                        <span>Development</span>
                    </div>
                    <div class="services-content-item__text">
                        <p>Maecenas est risus, tristique volutpat sagittis vel, feugiat consectetur diam. Suspendisse justo sem, molestie tincidunt  Maecenas est risus, tristique volutpat sagittis vel, feugiat consectetur diam. Suspendisse justo sem, molestie tincidunt </p>
                    </div>
                   </div>
                   <div class="services-content-item">
                    <div class="services-content-item__title">
                        <span>Game</span>
                        <span>Development</span>
                    </div>
                    <div class="services-content-item__text">
                        <p>Maecenas est risus, tristique volutpat sagittis vel, feugiat consectetur diam. Suspendisse justo sem, molestie tincidunt  Maecenas est risus, tristique volutpat sagittis vel, feugiat consectetur diam. Suspendisse justo sem, molestie tincidunt </p>
                    </div>
                   </div>
                   <div class="services-content-item">
                    <div class="services-content-item__title">
                        <span>App</span>
                        <span>Design</span>
                    </div>
                    <div class="services-content-item__text">
                        <p>Maecenas est risus, tristique volutpat sagittis vel, feugiat consectetur diam. Suspendisse justo sem, molestie tincidunt  Maecenas est risus, tristique volutpat sagittis vel, feugiat consectetur diam. Suspendisse justo sem, molestie tincidunt </p>
                    </div>
                   </div>
                   <div class="services-content-item">
                    <div class="services-content-item__title">
                        <span>Game</span>
                        <span>Design</span>
                    </div>
                    <div class="services-content-item__text">
                        <p>Maecenas est risus, tristique volutpat sagittis vel, feugiat consectetur diam. Suspendisse justo sem, molestie tincidunt  Maecenas est risus, tristique volutpat sagittis vel, feugiat consectetur diam. Suspendisse justo sem, molestie tincidunt </p>
                    </div>
                   </div>
               </div>
            </div>
        </section>
    </div>
</div>
