
<section id="works" class="projects">
    <div class="projects-top">
        @@include('../title-underline/_title.html',
        {"Yellow": "Featured","Weight":"Projects"})
        <div class="projects-top-navigation">
            <ul class="projects-top-navigation__menu">
                <a class="projects-top-navigation__link" href="#">
                    <li class="projects-top-navigation__link-item">ALL WORKS</li>
                </a>
                <a class="projects-top-navigation__link" href="#">
                    <li>GAMES</li>
                </a>
                <a class="projects-top-navigation__link" href="#">
                    <li>APPLICATIONS</li>
                </a>
                <a class="projects-top-navigation__link" href="#">
                    <li>CONTENT DEVELOPMENT</li>
                </a>
            </ul>
        </div>
    </div>
   <div class="projects-content">
       <div class="projects-content__items">
        <a class="projects-content__item" href="../../img/projects/Layer 10.png" data-lightbox="GAMES" data-title="Demon"><img src="../../img/projects/Layer 10.png" alt="game1"></a>
        <a class="projects-content__item" href="../../img/projects/Layer 11.png" data-lightbox="GAMES" data-title="Assasin Creed"><img src="../../img/projects/Layer 11.png" alt="game2"></a>
        <a class="projects-content__item" href="../../img/projects/Layer 12.png" data-lightbox="GAMES" data-title="Knights"><img src="../../img/projects/Layer 12.png" alt="game3"></a>
        <a class="projects-content__item" href="../../img/projects/Layer 13.png" data-lightbox="GAMES" data-title="Drift"><img src="../../img/projects/Layer 13.png" alt="game4"></a>
        <a class="projects-content__item" href="../../img/projects/Layer 14.png" data-lightbox="GAMES" data-title="OverWorld"><img src="../../img/projects/Layer 14.png" alt="game5"></a>
        <a class="projects-content__item" href="../../img/projects/Layer 15.png" data-lightbox="GAMES" data-title="Crysis"><img src="../../img/projects/Layer 15.png" alt="game6"></a>
        <a class="projects-content__item" href="../../img/projects/Layer 16.png" data-lightbox="GAMES" data-title="Battlefield"><img src="../../img/projects/Layer 16.png" alt="game7"></a>
        <a class="projects-content__item" href="../../img/projects/Layer 17.png" data-lightbox="GAMES" data-title="Star Wars"><img src="../../img/projects/Layer 17.png" alt="game8"></a>
       </div>
   </div>
</section>


