.projects-top {
}
.projects-top-navigation {
            max-width: 295px;
            margin: 23px 0 0 81px;
            @media screen and (min-width: 320px) and (max-width: 768px){
                max-width: 100%;
                margin-left: 0;   
            }     
           

		&__menu {
            display: flex;
            @media screen and (min-width: 320px) and (max-width: 768px){
                max-width: 100%;
                justify-content: space-evenly;
            }  
            
        }

		&__link {
            position: relative;
            font-size: 9px;
            color: #101010;
            font-weight: bold;
            transition: all 2s;
            @media screen and (min-width: 320px) and (max-width: 768px){
                font-size: 12px;   
            } 
            &:hover{
              transform: scale(1.4);
            }
  

            &>li:not(.projects-top-navigation__link-item){
                padding-left: 18px;
            }
            &>li:not(.projects-top-navigation__link-item):hover:after{
                content: '';
                width: 30px;
                background-color: #ffc600;
                position: absolute;
                height: 2px;
                bottom: -3px;
                margin-left: -5px;
                left: 50%; 
            }
            

        }

        &__link-item{
            position: relative;
            padding-right: 20px;
            &:hover:after{
                content: '';
                width: 30px;
                background-color: #ffc600;
                position: absolute;
                height: 2px;
                bottom: -3px;
                margin-left: -25px;
                left: 50%; 
            }
        }
}


.projects-content {
    margin-top: 26px;
    
    

    &__items {
        display: grid;
        grid-template: repeat(2,1fr)/repeat(4,25%);
        row-gap: 2px;
    }

    &__item {
        &>img{
            width: 100%;
            height: 100%;
        }
        
    }
}


