<section id="blog" class="blogs">   
    <div class="blogs-sidebar">
        @@include('../title-underline/_title.html',
        {"Yellow": "Blogs","Weight":"","Blogs":"Leftpadd",
        "Blog":"Blogsline"})
        <div class="blogs-navigation">
            <ul class="blogs-navigation-menu">
                <a href="#">
                    <li class="blogs-navigation-menu__link">Latest Posts</li>
                </a>
                <a href="#">
                    <li class="blogs-navigation-menu__link">App Design</li>
                </a>
                <a href="#">
                    <li class="blogs-navigation-menu__link">App Development</li>
                </a>
                <a href="#">
                    <li class="blogs-navigation-menu__link">Design Solutions</li>
                </a>
                <a href="#">
                    <li class="blogs-navigation-menu__link">Quality Assurance</li>
                </a>
                <a href="#">
                    <li class="blogs-navigation-menu__link">Development Mode</li>
                </a>
                <a href="#">
                    <li class="blogs-navigation-menu__link">What’s Out There</li>
                </a>
            </ul>
        </div>
    </div>
    <div class="blogs-content">
        <div class="blog-content__burger">
            <span></span>
        </div>
        <div class="blog-content__title">
            @@include('../title-underline/_title.html',
            {"Yellow": "Blogs","Weight":"","Blogs":"Leftpadd",
            "Blog":"Blogsline"})
        </div>
        <div class="blogs-content-row">
            <div class="blogs-content-row__item">
                <div class="blogs-content-row__item-img">
                    <img src="../../img/blogs/Layer 38.png" alt="">
                </div>
                <span class="blogs-content-row__item-data">July 4th 2016</span>
                <p class="blogs-content-row__item-first-text">Lorem ipsum dolor sit amet,</p>
                <p class="blogs-content-row__item-second-text">
                    Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. <br>
                    Nulla facilisis molestie dignissim.
                </p>
            </div>
            <div class="blogs-content-row__item">
                <div class="blogs-content-row__item-img blogs-content-row__item-img--background">
                    <img class="tashism" src="../../img/blogs/Layer 39.png" alt="">
                </div>
                <span class="blogs-content-row__item-data">June 20th 2016</span>
                <p class="blogs-content-row__item-first-text">Lorem ipsum dolor sit amet,</p>
                <p class="blogs-content-row__item-second-text">
                    Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. <br>
                    Nulla facilisis molestie dignissim.
                </p>
            </div>
            <div class="blogs-content-row__item">
                <div class="blogs-content-row__item-img">
                    <img src="../../img/blogs/Layer 40.png" alt="">
                </div>
                <span class="blogs-content-row__item-data">May 6th 2016</span>
                <p class="blogs-content-row__item-first-text">Lorem ipsum dolor sit amet,</p>
                <p class="blogs-content-row__item-second-text">
                    Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. <br>
                    Nulla facilisis molestie dignissim.
                </p>
            </div>
        </div>
    </div>
</section>