<section id="team" class="team">
    <div class="team-top">
        @@include('../title-underline/_title.html',
                {"Yellow": "Our","Weight":"Team",
                "Team":"Leftpadd","TeamOur":"Teamunderline"})
    </div>
    <div class="team-content">
        <div class="text-inner">
            <div class="text">
                <p class="text-inner__first">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis molestie dignissim. Nulla pellentesque et nisi et euismod. Pellentesque quis tristique magna.</p>
                <p class="text-inner__second">Maecenas est risus, tristique volutpat sagittis vel, feugiat consectetur diam. Suspendisse justo sem, molestie tincidunt </p>
            </div>
        </div>
        <div class="team-content-items">
            <div class="team-content-items__item">
                <div class="team-content-items__item-img">
                    <img class="CEO" src="../../img/our-team/Layer 28.png" alt="CoFounder / CEO">
                </div>
                <span class="team-content-items__item-name">John Doe</span>
                <span class="team-content-items__item-position">CoFounder / CEO</span>
            </div>
            <div class="team-content-items__item">
                <div class="team-content-items__item-img">
                    <img src="../../img/our-team/Layer 29.png" alt="process Manager">
                </div>
                <span class="team-content-items__item-name">John Doe</span>
                <span class="team-content-items__item-position">process Manager</span>
            </div>
            <div class="team-content-items__item">
                <div class="team-content-items__item-img">
                    <img src="../../img/our-team/Layer 30.png" alt="Sales President">
                </div>
                <span class="team-content-items__item-name">John Doe</span>
                <span class="team-content-items__item-position">Sales President</span>
            </div>
            <div class="team-content-items__item">
                <div class="team-content-items__item-img">
                    <img src="../../img/our-team/Layer 31.png" alt="Developer">
                </div>
                <span class="team-content-items__item-name">John Doe</span>
                <span class="team-content-items__item-position">Developer</span>
            </div>
        </div>
    </div>
</section>