.team {
    padding-top: 48px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.team-top {
    
}
.team-content {
    padding-top: 37px;
    position: relative;
    @media screen and (min-width: 320px) and (max-width: 1200px)  {
       margin: 0 auto; 
       padding-left: 35px; 
    }
        
    
    
}
.text{
    max-width: 465px;
    padding-bottom: 35px;
}
.team-content-items {
    display: flex;
    flex-wrap: wrap;
    padding:0 69px 60px 0;
    @media screen and (min-width: 320px) and (max-width: 1200px)  {
        padding:0;
        justify-content: center;
        align-items: center;

     }
    
    

    
    
    

		&__item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-bottom: 60px;
            &:not(:last-child) {
                margin-right: 19px;
            }
        
            

        }

		&__item-img {
            overflow: hidden;
            position: relative;
            padding: 93px 90px 93px 90px;

            
           
            
            & img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 82%;
                position: absolute;
                top: 0;
                left: 0;
          
            }
            & .CEO{
                object-fit: none;
                object-position: 92%;

            }    
                 
        }

		&__item-name {
            padding-top: 16px;
            font-size: 16px;
            color: #000000;
            font-weight: bold;
        }

		&__item-position {
            font-size: 16px;
            color: #000000;
            font-style: oblique;
            padding-bottom: 30px;
        }
}
