<section id="contacts" class="contacts">
   <div class="contacts-map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d16284.877068533282!2d18.05180843955078!3d59.3227752!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f77e30777f5d3%3A0x51a00ed0e8c55045!2sSublime!5e0!3m2!1sru!2sby!4v1635347828090!5m2!1sru!2sby" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
   </div>
   <div class="contacts-content">
    @@include('../title-underline/_title.html',
    {"Yellow": "Contact","Weight":"Us","Contacts":"Whitecontacts",
    "ContactUs":"Contactline"})
    <div class="contacts-content-form">
       <form class="contacts-content-form__about-you" action="#" method="post" enctype="multipart/form-data">
          <input type="text" tabindex="1" placeholder="Your name"  name="username" id="UserName">
          <input type="tel" tabindex="2" placeholder="Mobile" name="userphone" id="UserPhone">
          <input type="email" tabindex="3" placeholder="Email" name="useremail" id="UserEmail">
          <textarea placeholder="Your Message" name="usermessage" id="UserMessage" ></textarea>
          <button  class="contacts-content-form__button" type="submit">SEND</button>
       </form>
    </div>
    <div class="contacts-content__feedback">
      <p>Location Map</p> 
      <p>Address <span class="number-street">Hill Mist garden, Pune, 411 048. India</span> </p>
      <p>Phone<span class="number-phone">+91 12534 67890</span></p>
      <p>Email<span class="email">firkho@firkho.com</span></p>
    </div>
    <div class="contacts-content__links">
      <div class="contacts-content__link">
         <a href="https://twitter.com/?lang=ru" target="_blank">
            <img src="../../img/contacts/Layer 49.png" alt="" srcset="">
         </a>
      </div>
      <div class="contacts-content__link">
         <a href="https://ru.linkedin.com/" target="_blank">
            <img src="../../img/contacts/Layer 50.png" alt="" srcset="">
         </a>
      </div>
      <div class="contacts-content__link">
         <a href="https://ru-ru.facebook.com/" target="_blank">
            <img src="../../img/contacts/Layer 51.png" alt="" srcset="">
         </a>
      </div>
    </div>
   </div>
</section>