<section id="about" class="sublime">
  <div class="sublime-top">
    <div class="sublime-title">
      <span class="sublime-title__about">About</span>
      <span class="sublime-title__Sublime">Sublime</span>
    </div>
    <div class="sublime-text">
      <div class="text-inner">
        <p class="sublime-text__first-text text-inner__first">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis molestie dignissim. Nulla pellentesque et nisi et euismod. Pellentesque quis tristique magna. </p>
        <p class="sublime-text__second-text text-inner__second">Maecenas est risus, tristique volutpat sagittis vel, feugiat consectetur diam. Suspendisse justo sem, molestie tincidunt rhoncus vel, molestie ut ligula. Mauris vitae ullamcorper odio. Mauris id enim gravida, tempor velit non, vehicula lacus. Sed rutrum tempus urna, sed aliquam lectus egestas eu. Maecenas est risus, tristique volutpat sagittis vel, feugiat consectetur diam. Suspendisse justo sem, molestie tincidunt rhoncus vel, molestie ut ligula. Mauris vitae ullamcorper odio. Mauris id enim gravida, tempor velit non, vehicula lacus. Sed rutrum tempus urna, sed aliquam lectus egestas eu</p>
      </div>
    </div>
  </div>
  <div class="sublime-content">
    <div class="sublime-content__row">
      <div class="sublime-content__items">
        <div class="sublime-content__item">
          <div class="sublime-content__item-img"><img src="../../img/about-Sublime/Layer 18 copy 2.png" alt=""></div>
          <span class="sublime-content__item-title">App Development</span>
          <p class="sublime-content__item-first-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis molestie dignissim. Nulla pellentesque et nisi et euismod. Pellentesque quis tristique magna. </p>
          <p class="sublime-content__item-second-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis molestie dignissim. Nulla pellentesque et nisi et euismod. Pellentesque quis tristique magna. </p>
        </div>
        <div class="sublime-content__item">
          <div class="sublime-content__item-img"><img src="../../img/about-Sublime/Layer 18 copy 2.png" alt=""></div>
          <span class="sublime-content__item-title">Game Design</span>
          <p class="sublime-content__item-first-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis molestie dignissim. Nulla pellentesque et nisi et euismod. Pellentesque quis tristique magna. </p>
          <p class="sublime-content__item-second-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis molestie dignissim. Nulla pellentesque et nisi et euismod. Pellentesque quis tristique magna. </p>
        </div>
        <div class="sublime-content__item">
          <div class="sublime-content__item-img" ><img src="../../img/about-Sublime/Layer 18 copy 2.png" alt=""></div>
          <span class="sublime-content__item-title">Content Creation</span>
          <p class="sublime-content__item-first-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis molestie dignissim. Nulla pellentesque et nisi et euismod. Pellentesque quis tristique magna. </p>
          <p class="sublime-content__item-second-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis molestie dignissim. Nulla pellentesque et nisi et euismod. Pellentesque quis tristique magna. </p>
        </div>
      </div>
    </div>
  </div>
</section>