.sublime-top {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width:768px)  {
        flex-wrap: wrap;
    }
}
.sublime-title {
     display: flex;
     flex-direction: column;
     line-height: 50px;
     padding: 68px 0 0 137px;
    @media screen and (max-width:768px)  {
        padding: 34px 0 0 35px;
      
    }

	&:after{
        content: '';
        display: flex;
        flex: 0 0 auto;
        align-self: flex-end;
        height: 1px;
        width: 90px;
        background-color: #c5c5c5;

    }
    &__about {
     font-size: 30px;
     color: #717171;
     font-weight: bold;
        &:first-letter{
            font-size: 50px;
        }    
    }
    &__Sublime {
     font-size: 80px;
     color: #000000;
     font-weight: bold;
     &:first-letter{
         color: #ffc600;
        }

      
    }
}
.sublime-text {
    max-width: 597px;
    padding-left: 115px;
    display: flex;
    align-items: center;
    @media screen and (max-width:768px)  {
        max-width: 100%;
        padding-left: 35px;
      
    }
    &:before{
        content: '';
        display: flex;
        flex: 0 0 auto;
        height: 103px;
        width: 2px;
        margin-right: 15px;
        background-color: #c5c5c5;
        margin-top: 30px;
    }

	&__first-text {
        padding-top: 36px;
    }

	&__second-text {
        max-width: 440px;
    }
}
.text-inner {

		&__first {
            font-size: 16px;
            color: #111111;
            font-style: oblique; 
        }

		&__second {
            padding-top: 24px;
            font-size: 14px;
            color:#595959;
        }
}

.sublime-content {
    max-width: 874px;
    width: 100%;
    margin: 0 auto ;

    &__row {
        margin-top: 72px;
       
    }

    &__items {
        display: flex;
        justify-content: space-between;       
             
    }

    &__item {
        max-width: 231px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 60px;
        
        
        
    }

    &__item-img {
        border: 2px solid #ffa800;
        width: 56px;
        height: 56px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 21px;
        background-color: #e8e8e8;
        & img {
            width: 60%;       
        }
        
    }

    &__item-title {
        display: block;
        margin-bottom: 25px;
        font-size: 18px;
        color: #000000;
    }

    &__item-first-text {
        text-align: center;
        padding: 0 23px 0;
        margin-bottom: 19px;
        font-size: 10px;
        color: #000000;
      
    }

    &__item-second-text {
        padding: 0 23px 0;
        text-align: center;
        font-size: 10px;
        color: #000000;
        
    }
}




