<section id="testimonials" class="testimonials">
    <div id="parallax">
        <div class="testimonials-top">
            @@include('../title-underline/_title.html',
            {"Yellow": "Testimonials","Weight":"","Testimonials":"White",
            "Test":"TestimonialsLine"})
        </div>
        <div class="testimonials-content">
            <div class="text-inner">
                <div class="text text--testimonials">
                    <p class="text-inner__first text-inner__first--white-color">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis molestie dignissim. Nulla pellentesque et nisi et euismod. Pellentesque quis tristique magna.</p>
                    <p class="text-inner__second text-inner__second--white-color">Maecenas est risus, tristique volutpat sagittis vel, feugiat consectetur diam. Suspendisse justo sem, molestie tincidunt </p>
                </div>
            </div>
            <div class="testimonials-item">
                <div class="testimonials-item__img"><img src="../../img/testimonials/Layer 36.png" alt=""></div>
                <span class="testimonials-item__name">John Doe</span>
                <span class="testimonials-item__position">CoFounder / CEO</span>
            </div>
        </div>
    </div>

</section>